<!DOCTYPE html>
<html>
<head>
    <title>Submit Rankings</title>
</head>
<body>
    <h2>Enter Rankings for Today</h2>
    <form action="/submit" method="POST">
        Date: <input type="date" name="date" required><br><br>
        Player 1st: <input type="text" name="player1" required><br>
        Player 2nd: <input type="text" name="player2" required><br>
        Player 3rd: <input type="text" name="player3" required><br>
        Player 4th: <input type="text" name="player4" required><br>
        Player 5th: <input type="text" name="player5" required><br>
        Player 6th: <input type="text" name="player6" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/balances">View Balances</a>
</body>
</html>

